{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div  class="col-md-10 col-xs-10 col-sm-10">
    <h3 class="round3" style="text-align:center;">Posts</h3>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
 </div>
 <div class="row">
  <div class="col-md-10 col-xs-10 col-sm-10"></div>
 </div>
 <br/>
 {% for post in post_list %}
  <div class="row"> 
   <div class="col-md-1 col-xs-1 col-sm-1"></div> 
   <div class="col-md-7 col-xs-7 col-sm-7">
    <ul class="list-group">
     
       <li class="list-group-item ">
     <a href="{% url 'detail' post.pk %}">{{ post.date }} {{ post.duration}}</a>  <span class="badge"></span>
    </li> 
     </ul>
    <br>
   </div>
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
 {% endfor %}
</div>
{% endblock %}

