{% extends "base.html" %}

{% block content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter.qs %}
        {{ obj.date }} - {{ obj.count }} - {{obj.duration}}<br />
    {% endfor %}
{% endblock %}